
button {
  
    padding: 1.3em 3em;
    font-size: 5px;
    text-transform: uppercase;
    letter-spacing: 1.0px;
    font-weight: 300;
    color: #000;
    background-color: #a6100c;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(9, 43, 30, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
  
  
  nav{
      background-color: #b2d6b2 ;
      padding: 5px 0;
  }
  
  nav ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
  }
  
  nav ul li{
      position: relative;
      margin: 0 15px;
  }
  
  nav ul li a{
    justify-content: center;
      color: white;
      text-decoration: none;
      font-family: "Lora", serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 22px;
      padding: 10px;
      display: inline-flex;
      transition: color 0,3s;
  }
  
  nav ul li a:hover{
      color: #a6100c;
  }
  
  
  nav ul li .dropdown-content {
      display: none;
      position: absolute;
      background-color: #2d6d2b ;
      box-shadow: 0px 8px 16px 0 px rgba(0,0,0,0,2);
      z-index: 1;
      min-width: 160px;
      padding: 0;
  }
  
  nav ul li .dropdown-content li{
      margin: 0;
  }
  
  nav ul li .dropdown-content li a{
      padding: 10px 15px;
  }
  
  nav ul li .dropdown-content li a:hover{
      background-color: #e4b8b2;
  }
  
  nav ul li:hover .dropdown-content{
      display: block;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: #a6100c;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #a6100c;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: #a6100c;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: #a6100c;
  }
  
  .signin a:hover {
    text-decoration: underline #a6100c;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
    justify-content: center;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: #a6100c;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: #a6100c;
    cursor: pointer;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }  


footer {
    background-color: #c1e1c1;
    color: #2d6d2b ;
    padding: 40px 0;
    font-family: Arial, sans-serif;
  }
    
    .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    }
    
    .footer-section {
    flex-basis: 23%; 
    margin-bottom: 20px;
    }
    
    footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
    color:#a6100c;
    }
    
    .footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    }
    
    .footer-section ul {
    list-style-type: none;
    }

    footer-section ul li {
      margin-bottom: 10px;
    }
      
      footer-section ul li a {
      color: #2d6d2b ;
      text-decoration: none;
      transition: color 0.3s;
      }
      
      .footer-section ul li a:hover {
      color:#a6100c;
      }
      
      .social-links a {
      display: inline-block;
      margin-right: 10px;
      color: white;
      text-decoration: none;
      transition: color 0.3s;
      }
      
      .social-links a:hover {
      color: #116347;
      }
      
      .footer-bottom {
      text-align: center;
      margin-top: 20px;
      padding: 10px 0;
      border-top: 1px solid #116347 ;
      font-size: 14px;
      }
      
      .footer-bottom p {
      margin: 0;
      }

      .links{
        text-decoration: none;
        color: white;
      }