button {
  
    padding: 1.3em 3em;
    font-size: 5px;
    text-transform: uppercase;
    letter-spacing: 1.0px;
    font-weight: 300;
    color: #000;
    background-color: #a6100c;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(9, 43, 30, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
  
  
  nav{
      background-color: #b2d6b2 ;
      padding: 5px 0;
  }
  
  nav ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
  }
  
  nav ul li{
      position: relative;
      margin: 0 15px;
  }
  
  nav ul li a{
    justify-content: center;
      color: white;
      text-decoration: none;
      font-family: "Lora", serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 22px;
      padding: 10px;
      display: inline-flex;
      transition: color 0,3s;
  }
  
  nav ul li a:hover{
      color: #a6100c;
  }
  
  
  nav ul li .dropdown-content {
      display: none;
      position: absolute;
      background-color: #2d6d2b ;
      box-shadow: 0px 8px 16px 0 px rgba(0,0,0,0,2);
      z-index: 1;
      min-width: 160px;
      padding: 0;
  }
  
  nav ul li .dropdown-content li{
      margin: 0;
  }
  
  nav ul li .dropdown-content li a{
      padding: 10px 15px;
  }
  
  nav ul li .dropdown-content li a:hover{
      background-color: #e4b8b2;
  }
  
  nav ul li:hover .dropdown-content{
      display: block;
  }

  .form-control {
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 8px;
  }
  .title {
    font-size: 28px;
    font-weight: 800;
    color: #a6100c;
    text-align: center;
  }
  .input-field {
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .input {
    margin-top: 15px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    height: 45px;
    border: 1.5px solid #ecedec;
    background: transparent;
    padding-left: 10px;
  }
  .input:focus {
    border: 1.5px solid #2d79f3;
  }
  .input-field .label {
    position: absolute;
    top: 25px;
    left: 15px;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 2;
  }
  .input-field .input:focus ~ .label,
  .input-field .input:valid ~ .label {
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: #2d79f3;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
  }
  .submit-btn {
    margin-top: 30px;
    height: 55px;
    background: #f2f2f2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(180deg, #d51711 0%, #b4120d 50%, #a6100c);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
  }
  
  .submit-btn:hover {
    box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #a6100c;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: #a6100c;
  }
  
  .signin a:hover {
    text-decoration: underline #a6100c;
  }

  footer {
    background-color: #c1e1c1;
    color: #2d6d2b ;
    padding: 40px 0;
    font-family: Arial, sans-serif;
  }
    
    .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    }
    
    .footer-section {
    flex-basis: 23%; 
    margin-bottom: 20px;
    }
    
    footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
    color:#a6100c;
    }
    
    .footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    }
    
    .footer-section ul {
    list-style-type: none;
    }

    footer-section ul li {
      margin-bottom: 10px;
    }
      
      footer-section ul li a {
      color: #2d6d2b ;
      text-decoration: none;
      transition: color 0.3s;
      }
      
      .footer-section ul li a:hover {
      color:#a6100c;
      }
      
      .social-links a {
      display: inline-block;
      margin-right: 10px;
      color: white;
      text-decoration: none;
      transition: color 0.3s;
      }
      
      .social-links a:hover {
      color: #116347;
      }
      
      .footer-bottom {
      text-align: center;
      margin-top: 20px;
      padding: 10px 0;
      border-top: 1px solid #116347 ;
      font-size: 14px;
      }
      
      .footer-bottom p {
      margin: 0;
      }

      .links{
        text-decoration: none;
        color: white;
      }