@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Lora:wght@400&family=Open+Sans:wght@400&family=Roboto:wght@300&display=swap');

button {
  
  padding: 1.3em 3em;
  font-size: 5px;
  text-transform: uppercase;
  letter-spacing: 1.0px;
  font-weight: 300;
  color: #000;
  background-color: #a6100c;
  border: none;
  border-radius: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(9, 43, 30, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}


nav{
    background-color: #b2d6b2 ;
    padding: 5px 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    position: relative;
    margin: 0 15px;
}

nav ul li a{
  justify-content: center;
    color: white;
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 22px;
    padding: 10px;
    display: inline-flex;
    transition: color 0,3s;
}

nav ul li a:hover{
    color: #a6100c;
}


nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2d6d2b ;
    box-shadow: 0px 8px 16px 0 px rgba(0,0,0,0,2);
    z-index: 1;
    min-width: 160px;
    padding: 0;
}

nav ul li .dropdown-content li{
    margin: 0;
}

nav ul li .dropdown-content li a{
    padding: 10px 15px;
}

nav ul li .dropdown-content li a:hover{
    background-color: #e4b8b2;
}

nav ul li:hover .dropdown-content{
    display: block;
}



.slider{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

.slides{
    display: flex;
    width: 100%;
    animation: slideAnimation 10s infinite;
}

.slide{
    width: 100%;
    flex-shrink: 0;
}

@keyframes slideAnimation{
    0% {transform: translateX(0);}
    33% {transform: translateX(-100%);}
    66% {transform: translateX(-200%);}
    100% {transform: translateX(0);}
}

.slide img{
    width: 100%; 
    display: block;
}


.plan {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px #2d6d2b ;
    padding: 10px;
    background-color: #fff;
    color: #345336;
    max-width: 300px;
  }
  
  .plan strong {
    font-weight: 600;
    color:  #2d6d2b ;
  }
  
  .plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #ecffec;
    border-radius: 12px;
    position: relative;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color:#c1e1c1;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #a6100c;
  }
  
  .plan .pricing small {
    color:#a6100c;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #000000;
  }
  
  .plan .title + * {
    margin-top: 0.75rem;
  }
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
  }
  
  .plan .features .icon {
    background-color: #a6100c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button1 {
    background-color:#2d6d2b ;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
  }
  
  .plan .button1:hover, .plan .button:focus {
    background-color:#2d6d2b ;
  }

  .car {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 180px;
    background-color: #f2f2f2;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .car svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .car:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .car__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .car:hover .car__content {
    transform: rotateX(0deg);
  }
  
  .car__title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .car:hover svg {
    scale: 0;
  }
  
  .car__description {
    margin: 10px 0 0;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #777;
    line-height: 1.4;
  }
  
  .anterior{
    text-align: center;
    color: #a6100c;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-content: center;
    background-color: #e4b8b2;
  }

  .parent {
    width: 300px;
    padding: 20px;
    perspective: 1000px;
  }
  
  .card2 {
    padding-top: 50px;
    /* border-radius: 10px; */
    border: 3px solid rgb(255, 255, 255);
    transform-style: preserve-3d;
    background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
        repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
   
  }
  
  .card2:hover {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
  }
  
  .content-box {
    background: #a6110cc9;
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
  }
  
  .content-box .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
  }
  
  .content-box .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .content-box .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
  }
  
  .content-box .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .content-box .see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-decoration: none;
    text-transform: uppercase;
    color: #a6100c;
    /* border-radius: 5px; */
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }
  
  .content-box .see-more:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .date-box {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid #a6100c;
    /* border-radius: 10px; */
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  }
  
  .date-box span {
    display: block;
    text-align: center;
  }
  
  .date-box .month {
    color: #a6100c;
    font-size: 9px;
    font-weight: 700;
  }
  
  .date-box .date {
    font-size: 20px;
    font-weight: 900;
    color: #a6100c;
  }
   
   

  .prova{
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
  }

  .card1 {
    display: inline-table;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 190px;
    background-color: #f2f2f2;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    
  }

  .comentario{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b2d6b2 ;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin-bottom: 10px;
  }

  .foto-usuario{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .comentario p {
    color: black;
  }


  footer {
    background-color: #c1e1c1;
    color: #2d6d2b ;
    padding: 40px 0;
    font-family: Arial, sans-serif;
  }
    
    .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    }
    
    .footer-section {
    flex-basis: 23%; 
    margin-bottom: 20px;
    }
    
    footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
    color:#a6100c;
    }
    
    .footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    }
    
    .footer-section ul {
    list-style-type: none;
    }

    footer-section ul li {
      margin-bottom: 10px;
    }
      
      footer-section ul li a {
      color: #2d6d2b ;
      text-decoration: none;
      transition: color 0.3s;
      }
      
      .footer-section ul li a:hover {
      color:#a6100c;
      }
      
      .social-links a {
      display: inline-block;
      margin-right: 10px;
      color: white;
      text-decoration: none;
      transition: color 0.3s;
      }
      
      .social-links a:hover {
      color: #116347;
      }
      
      .footer-bottom {
      text-align: center;
      margin-top: 20px;
      padding: 10px 0;
      border-top: 1px solid #116347 ;
      font-size: 14px;
      }
      
      .footer-bottom p {
      margin: 0;
      }

      .links{
        text-decoration: none;
        color: white;
      }