@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Lora:wght@400&family=Open+Sans:wght@400&family=Roboto:wght@300&display=swap');


nav{
    background-color: #b2d6b2 ;
    padding: 5px 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    position: relative;
    margin: 0 15px;
}

nav ul li a{
  justify-content: center;
    color: white;
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 22px;
    padding: 10px;
    display: inline-flex;
    transition: color 0,3s;
}

nav ul li a:hover{
    color: #a6100c;
}


nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2d6d2b ;
    box-shadow: 0px 8px 16px 0 px rgba(0,0,0,0,2);
    z-index: 1;
    min-width: 160px;
    padding: 0;
}

nav ul li .dropdown-content li{
    margin: 0;
}

nav ul li .dropdown-content li a{
    padding: 10px 15px;
}

nav ul li .dropdown-content li a:hover{
    background-color: #e4b8b2;
}

nav ul li:hover .dropdown-content{
    display: block;
}



.slider{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

.slides{
    display: flex;
    width: 100%;
    animation: slideAnimation 10s infinite;
}

.slide{
    width: 100%;
    flex-shrink: 0;
}

@keyframes slideAnimation{
    0% {transform: translateX(0);}
    33% {transform: translateX(-100%);}
    66% {transform: translateX(-200%);}
    100% {transform: translateX(0);}
}

.slide img{
    width: 100%; 
    display: block;
}


.plan {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px #2d6d2b ;
    padding: 10px;
    background-color: #fff;
    color: #345336;
    max-width: 300px;
  }
  
  .plan strong {
    font-weight: 600;
    color:  #2d6d2b ;
  }
  
  .plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #ecffec;
    border-radius: 12px;
    position: relative;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color:#c1e1c1;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #a6100c;
  }
  
  .plan .pricing small {
    color:#a6100c;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #000000;
  }
  
  .plan .title + * {
    margin-top: 0.75rem;
  }
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
  }
  
  .plan .features .icon {
    background-color: #a6100c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button {
    background-color:#2d6d2b ;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
  }
  
  .plan .button:hover, .plan .button:focus {
    background-color:#2d6d2b ;
  }
  

  .guia{
    text-align: center;
    color: #345336;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-content: center;
    background-color: #c1e1c1;
  }

  .card {
    display: inline-block;
    position: relative;
    width: 290px;
    height: 190px;
    background-color: #f2f2f2;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #777;
    line-height: 1.4;
  }
  
  .anterior{
    text-align: center;
    color: #a6100c;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-content: center;
    background-color: #e4b8b2;
  }